# Ignore node_modules and vendor
/node_modules
/vendor

# Ignore environment files
.env

# Ignore Laravel logs and cache
/storage/logs
/storage/framework
/bootstrap/cache

# Ignore IDE/editor files
.idea/
.vscode/

# Ignore composer dependencies
composer.lock
npm-debug.log
yarn-error.log
